[user]
    name = Chris O'Hara
    email = cohara87@gmail.com
    signingkey = 87C50701
[alias]
    s = status --short --branch
    pending = ! git branch | sed -E 's/[\\* ] (.+)$/\\1/' | egrep -v 'master|stage|production'
    cb = ! git checkout master && git pull && git clean-branches
    lg = log -50 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diff = diff --color
    wd = diff
    wdc = diff --cached
    todo = grep -n -F -I -e TODO: -e FIXME: -e XXX:
    clean-branches = ! git branch --merged | grep -v \\* | grep -v 'staging\\|production' | xargs -n1 git branch -d
[core]
    excludesfile = ~/.gitignore
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = diff-highlight | less --tabs=4 -RFX
[color]
    ui = true
    diff = auto
[advice]
    statusHints = false
[diff]
    mnemonicprefix = true
    indentHeuristic = on
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
    commit = yellow bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[github]
    user = chriso
[push]
    default = current
[submodule]
    fetchJobs = 4
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    oldReset = noul
    newNormal = green bold
    newHighlight = green bold 22
[stash]
    showPatch = true
