[submodule ".vim/plugged/syntastic"]
	path = .vim/plugged/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/plugged/ctrlp"]
	path = .vim/plugged/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
