Compression yes
GSSAPIAuthentication no
PasswordAuthentication no
IdentitiesOnly yes

# Forward agent to trusted hosts
Host art ocean raspi km
    ForwardAgent yes

# Disable compression for local hosts
Host raspi km
    Compression no

# Code repositories
Host bitbucket.org
    IdentityFile ~/.ssh/bitbucket.key
Host github.com
    IdentityFile ~/.ssh/github.key
    PasswordAuthentication yes

# Personal
Host ocean
    HostName node.io
    IdentityFile ~/.ssh/ocean.key
    User root
Host raspi
    HostName ohara.in
    IdentityFile ~/.ssh/ocean.key
    User root

# SydneyStockholm
Host art staging dlbox backup office
    User chriso
    IdentityFile ~/.ssh/fellt.key
Host art
    HostName wp.secure.fellt.com
    Port 58184
Host office
    Hostname wrk.no-ip.org

# KISSmetrics
Host km
    HostName localhost
    Port 2222
    User root
    IdentityFile ~/.ssh/kissmetrics.key
Host *.kissmetrics.com
    IdentityFile ~/.ssh/kissmetrics.key
Host km*.kissmetrics.com
    User cohara
Host dn*.stage.kissmetrics.com
    User cohara
Host app*.stage.kissmetrics.com
    User cohara
Host dn*.kissmetrics.com
    User root
